/* Mobile screens */
@media only screen and (max-width: 400px)
{
  body
  {
    background-color: #9CAF86;
  }

  div.page
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
  }

  div.superior
  {
    flex-direction: column;
  }

  div.about
  {
    /* height: 100px; */
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  div.projects
  {
    width: 100%;
  }

  div.experience
  {
    width: 100%;
  }

  div.contact
  {
    width: 100%;
  }

  div.footer
  {
    height: 10px;
  }
}

/* Tablet screens */
@media only screen and (min-width: 401px) and (max-width: 960px)
{
  body
  {
    background-color: #8DA3E6;
  }

  div.superior
  {
    flex-direction: column;
  }
}

/* Desktop screens */
@media only screen and (min-width:961px)
{
  body
  {
    background-color: #ABA1E6;
  }

  h1
  {
    text-align: center;
  }

  div.page
  {
      padding: 25px;
  }

  div.superior
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  div.about
  {
    float: left;
    width: 25%;
  }

  div.projects
  {
    float: left;
    width: 70%;
    height: 30%;
    padding-left: 25px;
  }

  div.experience
  {
    float: left;
    height: 30%;
    width: 70%;
    padding-left: 25px;
  }

  div.contact
  {
    height: 30%;
    width: 70%;
    float: left;
    padding-left: 25px;
    padding-top: 25px;
  }

  div.footer
  {
    height: 20px;
    clear: both;
  }

}

a:hover
{
  text-decoration: none;
  text-shadow: -1px 1px;
}

/* body
{
  width: auto;
  justify-content: center;
}

nav
{
	text-shadow: -.5px .5px #000000;
}

nav ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, h2
{
  text-align: center;
  text-shadow: -1px 1px;
}

h2
{
  text-align: left;
}

a:hover
{
  text-decoration: none;
  text-shadow: -1px 1px;
}

div.page
{
  width: inherit;
  height: auto;
}

div.about
{
  float: left;
  height: 30%;
  width: 70%;
  padding-left: 25px;
  padding-top: 25px;
}

div.about p
{
  margin-left: 30px;
  padding-left: 5px;
}

div.projects
{
  float: left;
  width: 70%;
  height: 30%;
  padding-left: 25px;
}

div.experience
{
  float: left;
  height: 30%;
  width: 70%;
  padding-left: 25px;
}

div.contact
{
  height: 647px;
  width: 20%;
  float: left;
  padding-left: 15px;
  padding-top: 25px;
}

div.footer
{
  height: 20px;
  clear: both;
}

div.superior
{
  width: auto;
  display: flex;
  align-self: center;
  /* flex-direction: row; */
  /* justify-content: space-between;
  align-content: center;
  margin-left: 30px;
  flex-basis: auto;
}

div.superior_contact
{
  width: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-left: 30px;
  flex-basis: auto;
  word-wrap: break-word;
}

div.sub
{
  padding: 5px;
} */
